/* Background Logo */
header {
  text-align: center;
  color: #fff;
  background: #fff;
}

/* Background Qué es */
section.success {
  color: #fff;
  background: #fff;
}

/* Background footer */
footer .footer-above {
  padding-top: 50px;
  background-color: #fff;
}

/*IZHO top */
.navbar-default .navbar-brand {
  color: #19bbd7;
  }

.navbar-default .navbar-brand:hover {
  color: #93d7e8;
  }

/*Matches Top*/
.navbar-default .navbar-nav > li > a {
  color: #19bbd7;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #93d7e8;
}


 nav.navbar.navbar-default{
 	border-bottom: 1px solid #19bbd7;
}

body{
	color: #19bbd7
	}

hr.star-light:after, hr.star-primary:after {
  content: "";
}

hr.star-primary {
  border-color: #19bbd7;
}

header {
  text-align: center;
  color: #19bbd7;
}

footer .footer-below {
  background-color: #fff;
}

footer {
  color: #19bbd7;
}

div.footer-below{
	border-top: 1px solid #19bbd7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #19bbd7;
}


#matches table thead tr td {
  color: #000;
  text-transform: uppercase;
}
#matches table tbody tr td {
  text-transform: capitalize;
}

.matches h3 {
  display: inline-block;
  margin-right: 20px;
}

#match-count {
  margin-left: 10px;
  display: inline-block;
}

nav.navbar .counts {
  display: inline-block;
  float: left;
  position: relative;
  top: 21px;
}
